/* COMMENT: define the specific class to make style changes to (eg. make the font bigger/do padding/change colour of object, etc.) */
.question {
    padding: 5px 80px;
    margin:auto;
    text-align:center;
    width:1000px;
}

.answer {
    padding: 10px 50px;
    margin:auto;
    text-align:center;
    width:1000px;
}

.gif-grid {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 20px;
    justify-content: center; 
    margin-top: 20px;
    padding: 0 30px;
}

.gif-grid img {
    width: 350px;
    height: 200px;
}
